.THIS table{
    border-left: 0;
}
    .THIS table td {
        padding: 0;
    }
        .THIS table td > div {
            border-left: 1px solid rgb(221, 219, 218);
            padding: .25rem .5rem;
            min-height: 28px;
        }
            .THIS table td > div.cell {
                float: left;
            }