<apex:page controller="CaseNoteController"
           title="PrintPage" 
           showHeader="false"
           applyBodyTag="false"
           applyHtmlTag="false"
           renderAs="pdf"
           >
    <head>
        <title>Print Page</title>
        <style>
            table {
                border: 1px solid #000;
                border-bottom: 0;
                border-left: 0;
                box-sizing: border-box;
                width: 100%;
            }
                table td {
                    border-bottom: 1px solid #000;           
                    vertical-align: middle;
                    text-align: center;
                }
                    table td > div {
                        float: left;
                    }
                        table td > div > div {
                            border-left: 1px solid #000;
                            min-height: 18px;
                            padding: 4px 8px;
                            font-size: 14px;
                            text-align: center;
                        }
            .cellHeader {
                font-weight: bold;
            }
            p {
                padding:0;
                margin:0;
            }
            .textAlignLeft {
                text-align: left;
            }
        </style>
    </head>
     <body>
         <div class="header">
             <div>Case Notes for {!currentObjectRecordName}</div>
             <apex:outputPanel layout="none" rendered="{! and(startDate != null, startDate != 'undefined',endDate != null, endDate != 'undefined')}">
                 <div><strong>Date Range: </strong>from {!startDate} to {!endDate}</div>
             </apex:outputPanel>     
             <apex:outputPanel layout="none" rendered="{!! and(startDate != null, startDate != 'undefined',endDate != null, endDate != 'undefined')}">
                 <apex:outputPanel layout="none" rendered="{! or(startDate != null, startDate != 'undefined',endDate != null, endDate != 'undefined')}">
                    <apex:outputPanel layout="none" rendered="{! and(startDate != null, startDate != 'undefined')}">
                         <div><strong>Date Range: </strong>from {!startDate}</div>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{! and(endDate != null, endDate != 'undefined')}">
                         <div><strong>Date Range: </strong>to {!endDate}</div>
                    </apex:outputPanel>
                 </apex:outputPanel>   
             </apex:outputPanel>  
             <br />
         </div>
        <apex:outputPanel layout="none" rendered="{! and(records != null, records != '')}">
            <div style="overflow-y: auto !important;" >
		
				<apex:repeat var="record" value="{!records}">
                    <div style="page-break-inside: avoid;">
					    <table Class="cellHeader" CellPadding="0" CellSpacing="0" >
						    <tbody>
                                 <tr>
                                    <td>
                                        <div Style="width:100%">
                                            <div>
                                                <div Class="cellHeader textAlignLeft">NOTE: </div>
                                                <apex:outputText escape="false" value="{!record.Note__c}" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
							    <tr>
								    <td>
									    <div Style="width:33.3%;">
                                            <div>Service Name</div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>Service Type</div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>Date of Service</div>
                                        </div>
								    </td>
							    </tr>
							    <tr>
								    <td>
									    <div Style="width:33.3%;">
                                            <div>
										        {!record.Name}
									        </div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>
										        {!record.Service_Type__c}
									        </div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>
                                                <apex:outputText value="{0, date, MM/dd/yyyy}">
                                                    <apex:param value="{!record.Date_of_Service__c}"/>
                                                </apex:outputText>
									        </div>
                                        </div>
								    </td>
							    </tr>
                                 <tr>
								    <td>
									    <div Style="width:33.3%;">
                                            <div>Auther</div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>Signature</div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>Date</div>
                                        </div>
								    </td>
							    </tr>
							    <tr>
								    <td>
									    <div Style="width:33.3%;">
                                            <div>
										        {!record.CreatedBy.name}
									        </div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>
										        
									        </div>
                                        </div>
                                        <div Style="width:33.3%;">
                                            <div>
										        
									        </div>
                                        </div>
								    </td>
							    </tr>
						    </tbody>
					    </table>
                    </div>
                    <br />
				</apex:repeat>
			</div>
        </apex:outputPanel>
    </body>
</apex:page>